.base_page{
    padding-top: 20px;
    font-family: Roboto;
}

.topBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 0.5px solid gray;
    padding-bottom:10px;
}


img{
    height: 45px;
}

.icons{
    display: flex;
    color:slategray;
}


.signInBtn{
   padding:13px 24px;
   border-radius:15px;
   color: blue;
   border: 1px solid rgb(0, 0, 255);
   font-weight: 600;
   font-size: 16px;
}

.signInBtn:hover{
    background-color: rgba(0, 0, 255, 0.2);
}

.bottomBar{
    display: flex;
    align-items: center;
    padding: 4px 10px;
}

.login_crendential{
    margin: 4px 10px;
    padding: 15px 19px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    justify-content:center;

}

.login_crendential > h1{
    font-family: Roboto;
    margin: 5px 3px;
    font-size: 44px;
    padding: 14px ;
    width: 60%;
    font-weight: 400;
    color: orange;
    margin:19px 4px;
}

.twitter,.email{
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid gray; */
    text-align: center;
    padding: 19px;
    border-radius: 22px;
    text-decoration: none;
    text-decoration-style: none;
    width: 50%;
    background:#1DA1F2;
    color: white;
}

.email{
  background-color: black;
  color: white;
}

.base_img{
    object-fit: contain;
    height:600px;
    width: 600px;
}

.disclaimer{
    border: none  !important;
    font-weight: 300;
    padding: 2px 14px;
    width: 70%;
    /* text-align: center; */
}

span{
color: blue;
font-weight: 600;
}

.new_user_text{
    border: none  !important;
    text-align: center;
    font-weight: 400;
}


.screen2 {
  display: flex;
  align-items:flex-start; /* Changed from center to flex-start */
  justify-content:center; /* Changed from center to space-between */
  padding: 43px;
  /* margin-bottom: 12px; */
}

.part1 {
  flex: 1; /* Ensures part1 takes equal space */
  margin-right: 20px; /* Adds some spacing between part1 and part2 */
}

.part1_heading {
  font-size: 45px;
  width: 100%;
  font-weight: 400;
  padding: 4px 40px;
  margin-top: 20px;
}

.part1_para {
  width: 100%;
  font-weight: 200;
  padding: 4px 40px;
  margin-top: 20px;
}

.part2 {
  flex: 1; /* Ensures part2 takes equal space */
  display: flex;
  flex-wrap: wrap; /* Enables wrapping */
  align-items: center;
  justify-content: center;
}

.article_category {
  border: 1px solid black;
  width: 30%; /* Adjust as needed for number of items per row */
  margin: 5px; /* Adds spacing between items */
  /* box-sizing: border-box; Ensures padding/border don't affect width */
  border-radius:50px;
  text-align: center;
  padding: 16px 2px;
  color: rgb(40, 39, 39);
  text-transform: capitalize;

}

.footer{
  background-color:lightgrey;
  display: flex;
  justify-content: center;
  padding: 19px 8px;
}


.FooterContent{
  margin-left:70px;
}

h4{
  font-size: 20px;
  text-transform: capitalize;
  margin: 10px 0;
}


.footer_list{
  padding: 4px;
  margin: 12px 0;
}

.footer_end_list{
  margin-top: 15px;
  color: rgb(74, 73, 73);
}

.footer_end:hover{
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}



