.my-network{
    // border: 2px solid red;
    display: flex;
    gap: 20px;
    background-color: #f5f3ee;
    margin: 29px 69px;


    .left{
        // border: 2px solid green;
        background-color: white;
        flex:0.4;
        padding: 20px 10px;

        h1 {
                font-family: roboto;
                text-transform: capitalize;
                font-size: 23px;
            }


            .friend-card{
                display: flex;
                align-items: center;
                margin-top: 12px;
                margin-left: 12px;
                padding: 10px 6px;
                box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

                .friend-avatar{
                    border-radius:50%;
                }
            }
    }

    .mid{
    background-color: white;
     flex: 0.5;
     padding: 20px 10px;

     h1{
        font-family: roboto;
        text-transform: capitalize;
        font-size: 23px;
     }

     .user-card-main-box{
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        align-items: center;
        padding: 20px 10px;

        .user-card {
               display: flex;
               flex-direction: column;
               align-items: center;
                border: 0.5px solid gray;
                border-radius: 12px;
                box-shadow: #f5f3ee;
                margin: 5px 9px;
                // padding: 20px 0px;
                min-width:200px;
                min-height: 200px;

                .image-section{
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 2px;
                   .user-card-user-banner{
                    width: 100%;
                    height: 50px;
                    border-radius: 12px 12px 0 0;
                   }

                   .user-card-user-avatar{
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    position:relative;
                    top: -21px;
                   }
                }

                .name-section , .name-section>p{
                    text-transform: uppercase;
                    margin: 6px 0;
                }
                

                .user-card-end{
                display: flex;
                background-color: rgba(20, 20, 230, 0.705);
                color: white;
                padding: 5px 9px;
                border-radius: 12px;
                cursor: pointer;
                }


                
            }
     }

     
    }


    .right{
        // border: 2px solid yellow;
flex: 0.1;
    }
}