@font-face {
  font-family: Roboto;
  src: local(Roboto-Regular), url(../font/Roboto-Regular.ttf);
}

.sideBar {
  flex: 0.25;
  position: sticky;
  border-radius: 12px;
  height: fit-content;
  font-family: Roboto;
  margin: 0 40px;
}

.sideBar_top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid lightgray;
  border-radius: 12px;
  background: white;
  gap: 9px;
}

.sideBar_bg {
  width: 100%;
  border-radius: 12px 12px 0 0;
  height: 70px;
}

.sideBar_avtar {
  position: relative;
  height: 70px;
  width: 70px;
  top: -32px;
  margin-bottom: 12px;
  border-radius: 50%;
}

.sideBar_top h2 {
  font-size: 19px;
  text-transform: capitalize;
  font-family: Roboto;
  margin-bottom: 3px;
  margin-top: -34px;
  font-weight: 500;
}

.sideBar_top h4 {
  text-align: center;
  font-size: 11px;
  font-family: Roboto;
  margin-bottom: 10px;
  font-weight: 300;
  padding: 0 8px;
}

.sideBar_top hr {
  width: 100%;
  color: rgba(128, 128, 128, 0.503);
}

.sideBar_stats {
  width: 100%;
  text-transform: capitalize;
}

.sideBarStats_one,
.sideBarStats_two {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgb(103, 102, 103);
  font-family: Roboto;
  margin: 8px 0;
  padding: 3px 15px;
}

.sideBarStats_one p,
.sideBarStats_two p {
  font-weight: 500;
  font-size: 13px;
}

.sideBar_num {
  color: rgba(0, 0, 255, 0.881);
  font-weight: 200;
}

.sideBar_Premium_Info {
  width: 100%;
  margin: 5px 0;
  padding: 4px 5px;
}

.sideBar_text {
  display: flex;
  align-items: center;
  width: 100%;
  font-family: Roboto;
  font-size: 13px;
  text-transform: capitalize;
  font-weight: 600;
  text-align: start;
  padding: 0 4px;
}

.sideBar_text span {
  margin: 0 9px;
}

.sideBar_Premium_icon {
  display: flex;
  align-items: center;
}

.sideBar_saved_post {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 4px 5px;
}

.sideBar_saved_post:hover {
  background-color: lightgray;
}

.sideBar_bottom {
  border: 1px solid lightgray;
  background: white;
  border-radius: 12px;
  margin: 15px 0;
  padding: 23px 0;
}

.sideBar_bottom p {
  text-transform: capitalize;
  font-weight: 100;
  padding: 0px 15px;
}

.recentItems {
  display: flex;
  gap: 3px;
  text-transform: capitalize;
  margin: 6px 0;
}

.recentItems_icon {
  font-size: 19px;
  color: rgb(103, 102, 103);
  padding-left: 15px;
  padding-right: 6px;
}

.recentItems h5 {
  font-weight: 500;
  margin: 5px 2px;
  color: rgb(103, 102, 103);
}

.recentItems:hover {
  cursor: pointer;
  background: lightgray;
  width: 100%;
}

.recentItems:hover .recentItems_icon {
  color: black;
}

.recentItems:hover h5 {
  color: black;
}

@media (max-width: 768px) {
  .sideBar {
    display: none;
  }
}
